.input {
    height: 35px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    border-right: none;
    box-sizing: border-box;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.75);
    border-top: 1px solid #a5a5a5;
    border-left:  1px solid #a5a5a5;
    border-bottom: 1px solid #a5a5a5;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    padding-left: 5px;
    color: #bbbbbb;
}

.sendButton {
    outline: none;
    border:  1px solid #a5a5a5;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
}

.sendButton:hover {
    transition: 0.1s;
    background: rgb(230, 230, 230);
}

.form {
    display: flex;
}