.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    width: 100%;
}
  
.leftInnerContainer {
    flex: 0.5;
    display: flex;
    color: white;
    align-items: center;
}
  
.onlineIcon {
    margin-right: 5%;
}

.desc {
    color: #b7b6b6;
    margin-left: 2%;
}
  