.infoBar {
    width: 100%;
    display: flex;
    align-items: center;
    background: #1b59bf;
    border-radius: 5px 5px 0 0;
    justify-content: space-between;

    h3 {
        color: #fff;
        white-space: nowrap;
    }
}
  
.leftInnerContainer {
    flex: 0.5;
    display: flex;
    color: white;
    align-items: center;
}
  
.onlineIcon {
    margin-right: 15px;
    margin-left: 15px;
}

.desc {
    font-size: 14px;
    margin-right: 10px;
    color: #000000d5;
    white-space: nowrap;
}