.infoBar {
    width: 100%;
    display: flex;
    align-items: center;
    background: #1d85e6;
    border-radius: 5px 5px 0 0;
    justify-content: space-between;

    h3 {
        color: whitesmoke;
        white-space: nowrap;
    }
}
  
.leftInnerContainer {
    display: flex;
    height: 24px;
    margin-top: 5px;
    padding: 0 7px;
    font-size: 14px;
    align-items: center;
    border-color: #1890ff;
    background-color: #1890ff;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
}
  
.onlineIcon {
    margin-right: 15px;
    margin-left: 15px;
}

.desc {
    color: white;
    font-size: 14px;
    margin-right: 10px;
    white-space: nowrap;
}