$blockName: ".auth";

#{$blockName} {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__top {
        text-align: center;
        margin-bottom: 50px;
        h2 {
            font-size: 28px;
            margin-bottom: 5px;
        }
        p {

            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.128571px;
            opacity: 0.5;
        }
    }

    .button {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.1px;
        width: 100%;
    }

    .block {
        width: 350px;
    }

    .validator {
        font-size: 12px;
        color: #ff4d4f;
    }
}