.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 240px;
}

.auth_top {
    text-align: center;
    margin-bottom: 50px;
}

.auth_top h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.form {
    display: flex;
    flex-direction: column;
}

