:root{
    --back-color: #fff;
    --border-color: rgb(107, 97, 97);
}

.msgWrapper { 
    overflow-wrap: break-word;
}

.msg {
    margin-left: 10px;
    overflow-y: hidden; 
}

.yourMess {
    display: flex;
    min-height: 50px;
    margin-bottom: 10px;
    border-radius: 20px; 
    border-bottom: 1px solid rgb(145, 145, 180);
}

.MuiChip-label {
    margin: auto 10px 10px 10px;
}