@import '~styles/variables';

.message {
    $self: &;

    display: flex;
    max-width: 440px;
    margin-bottom: 15px;

    &__avatar {
        display: flex;
        flex-direction: column-reverse;

    }

    &__avatar {
        img {
            border-radius: 50px;
            width: 33px;
            height: 33px;
            margin-right: 13px;
            margin-bottom: 23px;
        }

    }


    &__bubble {
        background: $blue;
        box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.197);
        border-radius: 12px 12px 12px 0px;
        padding: 15px;
        margin-bottom: 8px;
    }

    &__date {
        font-size: 12px;
        opacity: 0.5;
    }

    &__text {
        color: #fff;
        line-height: 20px;
    }

    &--isme {
        display: flex;
        flex-direction: row-reverse;
    
        .avatar {
          margin-left: 13px;
          margin-right: 0;
        }
    
        #{$self}__content {
          margin-bottom: 15px;
          flex-direction: row-reverse;
        }
    
        #{$self}__avatar {
          img {
            margin-right: 0;
            margin-left: 13px;
          }
        }
    
        #{$self}__info {
          display: flex;
          align-items: center;
          text-align: right;
        }
    
        #{$self}__bubble {
          background: #ffffff;
          border: 1px solid #ececec;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
          border-radius: 12px 12px 0px 12px;
          order: 2;
          #{$self}__text {
            color: $black;
          }
        }
      }
}
